{% extends base_template %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}

{% block sonata_wrapper %}
    <div class="login-box">
        {% block login_box_header %}
            <div class="login-logo">
                <a href="{{ path('sonata_admin_dashboard') }}">
                    {% if sonata_config.getOption('title_mode') in ['single_image', 'both'] %}
                        <img src="{{ asset(sonata_config.logo) }}"
                             alt="{{ sonata_config.title }}"
                             class="center-block img-responsive"
                        />
                    {% endif %}
                    {% if sonata_config.getOption('title_mode') in ['single_text', 'both'] %}
                        <span>{{ sonata_config.title }}</span>
                    {% endif %}
                </a>
            </div>
        {% endblock %}

        {% if app.request.hasPreviousSession %}
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{ label }}" role="alert">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% endif %}

        <div class="login-box-body">
            {% block login_box_content %}
            {% endblock %}
        </div>
    </div>

{% endblock sonata_wrapper %}
