{% extends '@NucleosUserAdmin/Admin/Security/layout.html.twig' %}

{% trans_default_domain 'NucleosUserAdminBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block login_box_content %}
    {% block sonata_admin_login_error %}
        {% if error %}
            <div class="alert alert-danger alert-error">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
    {% endblock %}

    <p class="login-box-msg">
        {{ 'title_user_authentication'|trans({}, 'NucleosUserAdminBundle') }}
    </p>

    {{ form_start(form) }}

    {% set actions %}{{ form_widget(form.save, { attr: { class: 'btn btn-primary btn-block' } }) }}{% endset %}

    {{ form_rest(form) }}

    {{ actions }}

    {{ form_end(form) }}

    <div>
        <a href="{{ path('nucleos_user_admin_resetting_request') }}">
            {{ 'forgotten_password'|trans }}
        </a>
    </div>
{% endblock %}
